* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* End of Global Styling */
  
/* Start of Full Body Section Styling */
body {
    font-family: Helvetica, Arial, sans-serif;
}
/* End of Full Body Section Styling */
  
/* Start of Header Section Styling */
header {
    padding: 20px 35px;
    background-color: #A07189;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}
  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #53917e;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: #53917e;
}
  
header nav {
    margin: 7px 0;
}
  
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  
header nav ul li a:hover {
    color: darkred;
    border-radius: 15px;
    text-shadow: none;
}  
/* End of Header Section Styling */

/* Start of Footer Section Styling */
footer {
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
  
footer h2 {
    color: #A07189;
    font-size: 30px;
    margin: 0;
}
/* End of Footer Section Styling */

/* Section Global Styling */
section {
    padding: 60px;
}
  
/* Start of Hero Section Styling */
.hero {
    background-image: url('../images/alvaro-pinot-czDvRp5V2b0-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;    
}

.hero h2 {
    font-style: normal;
    font-size: 30px;
    color: #63535B;
    float: right;
    background-color: #53917e;
}
/* End of Hero Section Styling */

/* Start of Main Sections Content Styling */
.section {
    background-color: #63535B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* "About Me" and "Contact Me" Sections Titles' Styling */
.section-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 35px;
    color: #53917e;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    width: 10%;
    text-align: end;
    border-right: #53917e solid 3px;
}

/* "Work" Section Title's Styling */
.section-title2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 35px;
    color: #53917e;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    width: 10%;
    text-align: end;
    height: 1250px;
}

/* "About Me" and "Contact Me" Section Contents' Styling */
.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 90%;
}

/* "Work" Section Content Stlyling */
.flex-row2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 90%;
    border-left: #53917e solid 3px;
}

/* Photo of Jaspreet */
.photo {
    width: 10%;
    height: auto;
    padding-left: 1%;
}

/* Section Font and Anchor Elements Styling */
.section p, .section a {
    line-height: 1.5;
    color: #53917e;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    padding: 0 15px 0 15px;
}

/* "Work" Section Font Styling */
.flex-row2 p {
    display: inline-block;
    text-align: start;
    background-color: darkred;
    opacity: 85%;
    width: 45%;
    position: absolute;
    bottom: 10%;
    left: 0%;
}

/* Main Project Section Styling */
.main-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    height: 650px;
    width: 100%;
}

